<div id="section-loading">
  <div class="loading">
    <picture class="loading_logo">
      <source class="loading_logoImage" media="(max-width: 767px)" srcset="{{ RELATIVE_PATH }}{{ASSETS_DIR.COMMON}}common/images/logo2.svg">
      <img class="loading_logoImage" src="{{ RELATIVE_PATH }}{{ASSETS_DIR.COMMON}}common/images/logo1.svg" alt="限界風景部">
    </picture>
  </div>
</div><!-- /#section-loading -->