<div id="section-nav">
  <div class="nav">
    <div class="nav_btn"><button class="nav_btnItem"></button></div>
    <nav class="nav_wrap">
      <div class="nav_bg"></div>
      <div class="nav_list">
        <ul class="nav_listWrap">
          <li class="nav_listItem"><a class="nav_listAnchor" href="{{ HOMEPATH }}member/">部員一覧</a></li>
          <li class="nav_listItem"><a class="nav_listAnchor" href="{{ HOMEPATH }}published/">掲載物</a></li>
          <li class="nav_listItem"><a class="nav_listAnchor" href="{{ HOMEPATH }}exhibits/">展示</a></li>
          <li class="nav_listItem"><a class="nav_listAnchor u-ic_blank" href="https://genkaifukei.base.shop/" target="_blank">商品</a></li>
          <li class="nav_listItem"><a class="nav_listAnchor u-ic_blank" href="https://thebase.in/inquiry/genkaifukei-base-shop" target="_blank">お問い合わせ</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div><!-- /#section-nav -->