---
layout: pc
RESPONSIVE: true
REDIRECT: false

BODY_CLASS: exhibits
ADD_STYLES:
ADD_SCRIPTS_HEADER:
ADD_SCRIPTS_FOOTER:

LANGUAGE: ja
NAMESPACE: article
META_CHARSET: UTF-8
META_ROBOTS: index,follow
META_VIEWPORT: width=device-width,initial-scale=1,minimum-scale=1,shrink-to-fit=no,viewport-fit=cover
META_TITLE: '展示 | 限界風景部'
META_SHARE_TITLE:
META_KEYWORDS: '展示,exhibits,限界風景部,風景,ランドスケープ,Landscape,シティスケープ,Cityscape,天体写真,Astrophotography,写真,photography,カメラ,camera'
META_DESCRIPTION: 限界風景部の展示情報になります。
META_SHARE_DESCRIPTION:
META_AUTHOR:
META_COPYRIGHT:
META_APPLE_ICON: favicon.png
META_ICON: favicon.png
META_XHTML_ICON: favicon.ico
META_FACEBOOK: true
META_FACEBOOK_IMAGE: ogp_image.jpg
META_FACEBOOK_LOCALE: ja_JP
META_FACEBOOK_ID:
META_TWITTER: true
META_TWITTER_CARD: summary_large_image
META_TWITTER_ACCOUNT:
META_TWITTER_APP_ANDROID:
META_TWITTER_APP_IPAD:
META_TWITTER_APP_IPHONE:
META_GOOGLE: false
META_WINDOWS: false
META_WINDOWS_IMAGE: tile_image.png
META_WINDOWS_COLOR: #000000
META_OLD_BROWSER: false
META_PWA_MODE: false
LOADING: false
HOMEPATH: ../
OPNING: 0
---

<main id="section-contents">
  <div class="contents">
    <div class="contents_wrap">
      <h2 class="contents_title">展示</h2>
      <div class="exhibits">
        <div class="exhibits_wrap">
          <h3 class="exhibits_title exhibits_title-finished">限界風景部写真展</h3>
          <div class="exhibits_contents">
            <picture class="exhibits_thumb">
              <source class="exhibits_thumbImage" media="(max-width: 767px)" srcset="../assets/images/exhibits/img__thumb1_sp.jpg{{ ASSETS_VERSION }}">
              <img class="exhibits_thumbImage" src="../assets/images/exhibits/img__thumb1_pc.jpg{{ ASSETS_VERSION }}" alt="">
            </picture>
            <div class="exhibits_textbox">
              <dl class="exhibits_definition">
                <dt class="exhibits_definitionTitle">参加部員</dt>
                <dd class="exhibits_definitionItem">Atsuo Saijo / ito_san / KAZU / 神谷 / きじ / kix. / Kou / 唯野みりん / つよぽん / てらぬ― / tomosaki / naok / 中島一優 / なつなみ / にとんぐ / 葉月希緑 / 前山 / messi / りる / LeoN</dd>
              </dl>
              <dl class="exhibits_definition">
                <dt class="exhibits_definitionTitle">日時</dt>
                <dd class="exhibits_definitionItem">終了いたしました。</dd>
                {{!-- <dd class="exhibits_definitionItem">2021/12/22(水）～12/27（月） 2：00～20：00<br>（初日は14：00から、最終日は18：00まで）</dd> --}}
              </dl>
              <dl class="exhibits_definition">
                <dt class="exhibits_definitionTitle">場所</dt>
                <dd class="exhibits_definitionItem">〒530-0016 大阪府大阪市北区中崎１丁目４−１５<br>イロリムラ [89]画廊 展示室１・２・３<br><a class="exhibits_anchor u-ic_blank" href="http://irori2005.com/" target="_blank">イロリムラへの詳細はこちら</a></dd>
              </dl>
            </div>
          </div>
          {{!-- <div class="exhibits_map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3279.948194531068!2d135.5034183153199!3d34.70648658043302!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e6959b9d0acd%3A0xe0fc5b38898827a9!2z44Kk44Ot44Oq44Og44Op!5e0!3m2!1sja!2sjp!4v1638980404307!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div> --}}
        </div>
      </div>
    </div><!-- contents_wrap -->
  </div><!-- contents -->
</main><!-- section-contents -->