/* ------------------------------------------- SASS Information
 Name:      _exhibits.scss
 Author:    #{$WEB_AUTHOR}
 Modifier:  #{$WEB_MODIFIER}
----------------------------------------------------------- */
.page-exhibits {
  @include RESPONSIVE('PC', $MIN_WIDTH) {}
  @include RESPONSIVE('SP', $MIN_WIDTH) {}
  .exhibits{
    @include RESPONSIVE('PC', $MIN_WIDTH) {}
    @include RESPONSIVE('SP', $MIN_WIDTH) {}
  }
  .exhibits_wrap{
    @include RESPONSIVE('PC', $MIN_WIDTH) {}
    @include RESPONSIVE('SP', $MIN_WIDTH) {}
  }
  .exhibits_title{
    letter-spacing: 0.05em;
    @include RESPONSIVE('PC', $MIN_WIDTH) {
      font-size: 24px;
      line-height: 24px;
      margin-top: 16px;
    }
    @include RESPONSIVE('SP', $MIN_WIDTH) {
      font-size: calc-sp(48);
      line-height: calc-sp(64);
      margin-top: calc-sp(16);
    }
  }
  .exhibits_contents{
    @include RESPONSIVE('PC', $MIN_WIDTH) {
      display: flex;
      align-items: center;
      margin-top: 40px;
    }
    @include RESPONSIVE('SP', $MIN_WIDTH) {
      margin-top: calc-sp(60);
    }
  }
  .exhibits_thumb{
    @include RESPONSIVE('PC', $MIN_WIDTH) {
      width: 400px;
    }
    @include RESPONSIVE('SP', $MIN_WIDTH) {}
  }
  .exhibits_thumbImage{
    @include RESPONSIVE('PC', $MIN_WIDTH) {}
    @include RESPONSIVE('SP', $MIN_WIDTH) {}
  }
  .exhibits_textbox{
    @include RESPONSIVE('PC', $MIN_WIDTH) {
      width: calc(100% - 400px);
      padding-left: 40px;
    }
    @include RESPONSIVE('SP', $MIN_WIDTH) {
      margin-top: calc-sp(40);
    }
  }
  .exhibits_definition{
    @include RESPONSIVE('PC', $MIN_WIDTH) {
    }
    @include RESPONSIVE('SP', $MIN_WIDTH) {
    }
    &+.exhibits_definition{
      @include RESPONSIVE('PC', $MIN_WIDTH) {
        margin-top: 16px;
      }
      @include RESPONSIVE('SP', $MIN_WIDTH) {
        margin-top: calc-sp(32);
      }
    }
  }
  .exhibits_definitionTitle{
    font-weight: bold;
    @include RESPONSIVE('PC', $MIN_WIDTH) {
      font-size: 18px;
      line-height: 18px;
    }
    @include RESPONSIVE('SP', $MIN_WIDTH) {
      font-size: calc-sp(36);
      line-height: calc-sp(36);
    }
    &+.exhibits_definitionItem{
      @include RESPONSIVE('PC', $MIN_WIDTH) {
        margin-top: 8px;
      }
      @include RESPONSIVE('SP', $MIN_WIDTH) {
        margin-top: calc-sp(16);
      }
    }
  }
  .exhibits_definitionItem{
    @include RESPONSIVE('PC', $MIN_WIDTH) {
      font-size: 16px;
      line-height: 24px;
    }
    @include RESPONSIVE('SP', $MIN_WIDTH) {
      font-size: calc-sp(28);
      line-height: calc-sp(44);
    }
  }
  .exhibits_anchor{
    position: relative;
    display: inline-block;
    @include RESPONSIVE('PC', $MIN_WIDTH) {
      transition: all .3s ease;
      opacity: 1;
      margin-top: 4px;
    }
    @include RESPONSIVE('SP', $MIN_WIDTH) {
      margin-top: calc-sp(16);
    }
    &:before{
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: #000;
      @include RESPONSIVE('PC', $MIN_WIDTH) {
        transform: scale(1);
        transform-origin: right center;
        transition: all .3s ease;
      }
    }
    &:hover{
      text-decoration: none;
      @include RESPONSIVE('PC', $MIN_WIDTH) {opacity: 0.8;}
    }
    &:hover:before{
      @include RESPONSIVE('PC', $MIN_WIDTH) {
        transform: scale(0);
      }
    }
    &.u-ic_blank:after{
      top: 50%;
      transform: translateY(-50%);
      @include RESPONSIVE('PC', $MIN_WIDTH) {
        right: -20px;
        width: 14px;
        height: 14px;
      }
      @include RESPONSIVE('SP', $MIN_WIDTH) {
        right: calc-sp(-32);
        width: calc-sp(28);
        height: calc-sp(28);
      }
    }
  }
  .exhibits_map{
    @include RESPONSIVE('PC', $MIN_WIDTH) {
      width: 100%;
      height: 400px;
      margin-top: 40px;
    }
    @include RESPONSIVE('SP', $MIN_WIDTH) {
      height: calc-sp(600);
      margin-top: calc-sp(60);
    }
    >iframe{
      width: 100%;
      height: 100%;
    }
  }
}